body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    background-image: url(https://www.amc.info/fileadmin/_processed_/1/c/csm_Article_15_Header_wok_Asian_spices_2e5ac9f99e.jpg);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e74c3c;
    color: #f9f9f9;
}

header h1 {
    font-size: 2em;
}

hr {
    margin: 10px auto;
    width: 1400px;
    border: 1px solid #f9f9f9;
}

section {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.food-image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.food-description {
    float: right;
    padding-right: 200px;
    width: 900px;
}

h2 {
    margin-bottom: 30px;
    color: #e74c3c;
}

h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.28em;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

p, ol {
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
}

ol {
    padding-left: 20px;
}

li {
    font-size: 1.1em;
}

table {
    width: 1420px;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f9f9f9;
}

th {
    background-color: #e74c3c;
    color: #f9f9f9;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.25em
}
